Source: sie-update
Section: utils
Priority: extra
Maintainer: Farsight Security, Inc. <software@farsightsecurity.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 3.9.8

Package: sie-update
Section: utils
Architecture: all
Depends:
 ${misc:Depends},
 python3,
 python3-daemon,
Description: SIE Interface Configurator
 Configures vlans for a SIE-attached port.
