[Unit]
Description=SIE Interface Updater
After=network.target
ConditionPathExists=/etc/default/sie-update

[Service]
Type=simple
EnvironmentFile=/etc/default/sie-update
ExecStart=/usr/sbin/sie-update -d -i $INTERFACE $OPTIONS

[Install]
WantedBy=multi-user.target
